.logo{
    text-align: center;
    background-color:rgba(238, 236, 236, 0.884);
    
   }
   img >img:hover {
    transform: scale(1.2);
}

.menu{
    padding:30px 150px 30px 740px;
    display: flex;
    text-align: center;
    gap: 35px;
    font-size: 25px;
    background-color:rgba(212, 212, 212, 0.884);
    font-family: Arial, Helvetica, sans-serif
}
a {
    text-decoration: none;
    color: black;
    transition: 1s all;
}


a:hover
{
 transform: scale(1.1);
 color: rgb(224, 94, 94);
}
.historinha {
   
    display: flex;
    text-align: center;
    width: 100%;
    font-size: medium;
    justify-content: center;
}  
.historinha p {
    
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 1000px;
}
.imgtext {
 display: flex;
 justify-content: center;
 align-items: center;

}
button{
 font-family: Arial, Helvetica, sans-serif;
    width:150px;
    height: 45px;
    color: rgb(248, 248, 248);
    background-color: rgb(197, 59, 59);
    border: none;
    border-radius:10px;
    transition: opacity 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
}
button:hover{
    opacity: 0.8;
    transform: scale(1.04);

}
.imgtext p  {
    font-family: Arial, Helvetica, sans-serif;
width:453px;
text-align: center; 

}
.imgtext div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#texto{
    font-family: Arial, Helvetica, sans-serif;
    width:1000px ;
}
.vovo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
