.logo{
    text-align: center;
    background-color:rgba(238, 236, 236, 0.884);
   
   }
   
   .menu{
       padding:30px 150px 30px 740px;
       display: flex;
       text-align: center;
       gap: 35px;
       font-size: 25px;
       background-color:rgba(212, 212, 212, 0.884);
       font-family: Arial, Helvetica, sans-serif
       
   
   }
   a {
       text-decoration: none;
       color: black;
       transition: 1s all;

   }
   a:hover
   {
    transform: scale(1.1);
    color: rgb(224, 94, 94);
   }
   .img {
       
       margin-top:50px; ;
   }
   .pai{
   padding:30px ;
   gap:35px;
   text-align: right;
   display: flex;
   justify-content: center;
    align-items: center;
   font-family: Arial, Helvetica, sans-serif;
   }

    .paragrafo > p{
        width: 700px;
        font-size: medium;
    }
   .mae {
    display: flex;
    justify-content: center;
    align-items: center;
   }

    .filha2 {
    margin-right:145px;
    }
  .texto{
    font-family: Arial, Helvetica, sans-serif;
    width: 545px;
    font-size: medium;
  }
  .rodape {
    background-color:rgba(238, 236, 236, 0.884) ;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
  }
.imgrodape >img:hover {
    transform: scale(1.2);
}

